body{
	
	overflow-x: hidden;
	background-color: hsl(230, 100%, 99%);
	
}
*{
	font-family: 'Manrope', sans-serif;
	font-weight: 600, 800;
	font-size: 15px;
}


	
header{
	
		background:url("../images/bg-pattern.svg");
	background-size: 2000px;
	background-repeat: no-repeat;
	
		width: 100%; 
		height: 550px;
		
	padding-top: 150px;
	}
	h1{
		text-align: center;
		
	}
	
	h4{
		text-align: center;
		color:hsl(223, 50%, 87%);
		text-transform: uppercase
	}


header div{
	background: url("../images/pattern-circles.svg");
	background-repeat: no-repeat;
	
	background-position: center
}
	
	
	
/*@media (min-width:650px){*/
	
	
	
	.card{
		
		text-align: center;
		margin:50px auto;
		margin-top: -160px;
		background-color: hsl(0, 0%, 100%);
		height: 400px;
		width: 600px;
		padding: 20px
		
	}
.card h4{
	display: inline-block;
	font-size: 15px;
}
	
.card h1 , .card .price2{
	display: inline-block;
	margin-left: 150px
	
}
	
	
	/*} */
/*
.dollar{
	color:black;
	font-size: 32px;
	margin-top: -15px;
	margin-left: -60px
}

	
.zero{
	color:black;
font-size: 32px;
	margin-left: 35px
}	
	
	*/
	

	

	
.card .month{
	color:hsl(223, 50%, 87%)
}



.container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 30px;
}
	
.card input{
	margin-top: 20px;
	
}
	input[type='range'] {
     height: 10px;
     width: 100%;
     cursor: pointer;
    opacity: 0.8;
    outline: none;


   }

   input[type='range'],
   input[type='range']::-webkit-slider-runnable-track,
   input[type='range']::-webkit-slider-thumb {
     -webkit-appearance: none;
   }


   #inp {
     width: 480px;
     height: 10px;
     background: linear-gradient(to right, #a4f3ed , #a4f3ed),  #ecf0fb ;
     background-size: 50% 100%;
     background-repeat: no-repeat;
     border-radius: 5px;


}

   input[type='range']:active {
     cursor: grabbing;
     cursor: -moz-grabbing;
     cursor: -webkit-grabbing;

   }

   input[type='range']::-webkit-slider-thumb {
     height: 35px;
     width: 35px;
     margin-top: -10px;
     background: #0fd8c8;
     border-radius: 50%;
      box-shadow: 1px 15px 20px #0fd8c8;
      background-image: url("../images/icon-slider.svg");
      background-repeat: no-repeat;
      background-position: center;

   }
   input[type='range']::-webkit-slider-thumb:active {
     background: #23aca2;
     background-image: url("../images/icon-slider.svg");
     background-repeat: no-repeat;
     background-position: center;
   }

    input[type='range']::-webkit-slider-runnable-track {
      width: 200px;
      height: 10px;
    }
    input[type='range']::-moz-slider-runnable-track {
      width: 200px;
      height: 10px;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      border-radius: 5px;
    }

   input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 50%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #0fd8c8;
  box-shadow: 1px 15px 20px #0fd8c8;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
   input[type="range"]::-moz-range-thumb:active {
     background: #23aca2;
     background-image: url("../images/icon-slider.svg");
     background-repeat: no-repeat;
     background-position: center;
}

  input[type="range"]::-moz-range-progress {
  background-color: #a4f3ed;
  height: 10px;
}

input[type="range"]::-moz-range-track {
  background-color: #ecf0fb;
  height: 10px;
}


   /*  height: 10px;
     background: linear-gradient(to right, #a4f3ed, #a4f3ed), #ecf0fb;
     background-size: 50% 100%;
     background-repeat: no-repeat;
     border-radius: 5px;
	
	background: #0fd8c8;
     border-radius: 50%;
      box-shadow: 1px 15px 20px #0fd8c8;
      background-image: url('images/icon-slider.svg');
      background-repeat: no-repeat;
      background-position: center;
	
	background-image: url('images/icon-slider.svg');
     background-repeat: no-repeat;
     background-position: center; */

.card input:active{
	cursor: grab;
}
/* btn-radio */
.grey-bg {
  background: #A3A8F0;
background: -webkit-linear-gradient(top left, hsl(223, 50%, 87%) 0%, hsl(223, 50%, 87%) 100%);
background: -o-linear-gradient(top left, hsl(223, 50%, 87%) 0%, hsl(223, 50%, 87%) 100%);
background: linear-gradient(to bottom right, hsl(223, 50%, 87%) 0%, hsl(223, 50%, 87%) 100%);
			
			transform-style: preserve-3d;
}
		.selector {
			margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
			transform-style: preserve-3d;

}

.btn-bg {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto 1em;
    padding: 2px 3px;
	transform-style: preserve-3d;
}


.transition {
    transform: translateX(100%);
}

.btn-radio {
	cursor: pointer;
    background-color: white;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
        transition: all 0.5s ease-in-out;
	transform-style: preserve-3d;
}

		
.card .selector .discount{
	font-size: 12px;
	margin-left: 20px;
	/*display: inline-block; */
	color:hsl(15, 100%, 70%);
	background-color: hsl(14, 92%, 95%);
	border-radius: 25px;
	width: 100px;

}

.card .selector .discount2{
	
	display: none;
	font-size: 12px;
	/*position: absolute;
	margin-left: 95%;*/
	margin-left: -30px;
	position: relative;
	left:32px;
	
	color:hsl(15, 100%, 70%);
	background-color: hsl(14, 92%, 95%);
	border-radius: 25px;
	width: 40px; }



.card hr{
	margin-top: 50px;
	width: 550px;
}
/*@media (min-width:650px){ */
	

footer{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	column-gap: 120px
}
 /*}*/






footer div:first-of-type div{
	margin-top: 10px
}
footer div:first-of-type div:nth-child(2){
	margin-left: 30px
}
footer div:first-of-type div:last-child{
	margin-left: -35px
}
footer button{
	margin-top: 40px;
	background-color:  hsl(227, 35%, 25%);
	width: 190px;
	height: 45px;
	text-align: center;
	color:hsl(225, 20%, 60%);
	border-radius: 30px;
	transition: all 0.5s ease-in-out;
}
footer button:hover{
	background-color:  hsl(225, 20%, 60%);
	
	color:hsl(227, 35%, 25%);
	
}
	

@media (max-width:650px){
	
	.card{
		
		text-align: center;
		margin:50px auto;
		margin-top: -160px;
		background-color: hsl(0, 0%, 100%);
		height: 600px;
		width: 440px;
		padding: 20px
		
	}
.card #views{
	text-align: center;
	position: relative;
	left:140px;
	font-size: 15px;
}
	
.card h1 , .card .price2 {
	

	
	position: relative;
	top:150px;
	right:140px
	
}
	
	 #inp {
		 margin-left: -10px;
     width: 340px;
     height: 10px;
     background: linear-gradient(to right, #a4f3ed , #a4f3ed),  #ecf0fb ;
     background-size: 50% 100%;
     background-repeat: no-repeat;
     border-radius: 5px;


}

	.card .month{
		
		position: relative;
	top:115px;
	right:-85px
	}
	
	.selector{
		margin-top: 120px;
		margin-left: -10px
	}
.btn-bg {
    width: 60px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto 1em;
    padding: 2px 3px;
	transform-style: preserve-3d;
}
		
.card .selector .discount{
	display: none;
	
}
	.card .selector .discount2{
		display: block

}
	
	.card hr{
	margin-top: 50px;
	width: 400px;
}

/*		
.card .selector .disc2{
	
	
	font-size: 12px;
	position: absolute;
	margin-left: 400px;
	display: inline-block;
	color:hsl(15, 100%, 70%);
	background-color: hsl(14, 92%, 95%);
	border-radius: 25px;
	width: 50px;

} */

footer{
	margin-top: 50px;
	display: block
	
	
}
 
	
}

